<div class="hero-banner">
    {{ section.settings.image | image_url: 'master' | img_tag: section.settings.heading }}
    <h1 class="hero-heading">{{ section.settings.heading }}</h1>
    </div>

{% scheme %}
{
    "name":"Hero",
    "tag":"section",
    "settings":[
        {
            "type":"text",
            "id":"heading",
            "label":"Heading"
        },
        {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
        }
    ]
}

{% endscheme %}